@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$greener-black: #112d06;
$box-background: rgb(234, 234, 234);
$background-blue: rgb(161, 213, 215);
$background-lighter-blue: rgb(232, 245, 246);
$background-green: #85b55b;
$almost-black: rgb(37, 47, 33);
$off-white: rgb(241, 244, 236);


* {
  font-family: georgia;
  font-weight: 150;
  // font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  text-align: center;
  max-width: 100vw;
  color: $almost-black;
}
body {
  margin: 0 auto;
  background-color: $off-white;
  strong, h3, h2 {
    font-weight: 600;
  }
}
@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

.nav {
  padding: 0;
  z-index: 9999999;

  position: fixed;
  top: 0;
  left: 0;
  .navbar {
    @include flex;
    background-image: linear-gradient(to right, $background-blue, $background-green);
    color: $almost-black;
    justify-content: space-between;
    // align-items: center;
    width: 100vw;
    // border-top: 1px solid rgb(0, 0, 0);
    // border-bottom: 1px solid rgb(0, 0, 0);
    margin: 0;
    .navbar-end {
      @include flex;
      justify-content: flex-end;
      align-self: center;
    }
    .navbar-item {
      list-style: none;
      margin: 0;
      .link {
        font-weight: 500;
        font-size: 1.2em;
        padding: 0 40px;
        color: black;
        .logo {
          height: 100px;
          &:hover {
            animation: shake 0.2s normal;
          }
        }
        &:hover {
          cursor: pointer;
          color: #005500;
        }
      }
    }
  }
  @media only screen and (max-width: 828px) {
    display: none;
  }
}
@keyframes shake {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(5deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.home {
  position: relative;
  margin-top: 100px;
  @media only screen and (max-width: 828px) {
    margin-top: 0;
  }
  .hero {
    text-align: center;
    .carousel {
      height: 46.875vw;
      margin-bottom: -5px;
      .hero-image {
        width:100vw;
      }
      .hide {
        display: none;
      }
      .text {
        position: absolute;
        margin: auto;
        top: 5%;
        width: 100%;
        text-align: center;
        
        background-color: transparent;
        h1, h4 {
          background-color: transparent;
          color: $off-white;
          font-size: 4em;
          text-shadow: 2px 2px $almost-black;
        }
        h4 {
          bottom: 20%;
          font-size: 2em;
        }
        
      }
      .back-arrow {
        position: absolute;
        top: 50%;
        left: 5%;
        &:hover {
          cursor: pointer;
        } 
      }
      .next-arrow {
        position: absolute;
        top: 50%;
        right: 5%;
        &:hover {
          cursor: pointer;
        } 
      }
      @media only screen and (max-width: 1000px) {
        .text {
          h1 {
            font-size: 2em;
            text-shadow: 1px 1px black;
          }
          h4 {
            font-size: 1em;
            text-shadow: 1px 1px black;
          }
        }
        .back-arrow {top: 15%}
        .next-arrow {top: 15%}
      }
    }
  }
}
.about {
  @include flex;
  justify-content: center;
  background-color: $background-blue;
  padding-bottom: 20px;
  .container {
    width: 70vw;
    .arrow-up {
      margin: 0 auto;
      margin-top: .4em;
      width: 0; 
      height: 0; 
      border-left: .4em solid transparent;
      border-right: .4em solid transparent;
      
      border-bottom: .4em solid $greener-black;
    }
    .arrow-down {
      margin: 0 auto;
      margin-top: .4em;
      width: 0; 
      height: 0; 
      border-left: .4em solid transparent;
      border-right: .4em solid transparent;
      
      border-top: .4em solid $greener-black;
    }
    .images {
      @include flex;
      align-items: flex-start;
      img { 
        width: 50%; 
        height: auto;
      }
    }
    p {
      color: $greener-black;
    }
    @media only screen and (max-width: 800px) {
      width: 100vw;
      .top, .bottom {width: 98vw}
    }
  }
}

.nav-mounted {
  padding-top: 39px;
}

.tours {
  .container {
    @include flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  padding-bottom: 20px;
  p {
    margin: 1em 15%;
  }
}

@mixin card($width: 300px, $height: 300px, $position: relative) {
  width: $width;
  height: $height;
  position: $position;
  img {
    width: $width;
    height: $height;
  }
}

.tour-card {
  @include card;
  margin: 10px;
  h3 {
    font-weight: 400;
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    bottom: 10px;
    text-align: center;
    background: transparent;
    color: $off-white;
    text-shadow: 1px 1px $almost-black;
  }
  
  &:hover {
    cursor: pointer;
    animation: shake 0.2s normal;
    // border: 10px solid transparent;
    // img {
    //   width: 280px;
    //   height: 280px;
    // }
  }
}

.tour-detail {
  @include flex($direction: column);
  padding: 10px 0;
  .container {
    flex: 1;
    @include flex($direction: column);
    justify-content: space-around;
    .card-container {
      @include flex;
      max-width: 1000px;
      align-self: center;
      margin-bottom: .5em;

      .tour-detail-card {
        .images {
          .displayed-image {
            @include card($width: 300px, $height: 300px, $position: relative);
          }
          .icons {
            // background-color: $background-green;
            padding: 2px;
            @include flex;
            justify-content: center;
            margin: 5px;
            border-radius: 5px;
            .icon {
              // border-radius: 50%;
              width: 50px;
              height: 50px;
              margin: 3px;
              &:hover {
                cursor: pointer;
              }
            }
            .selected {
              border: 2px solid $background-green;
            }
          }
        }
      }
      .text {
        padding: 1em;
        margin-left: 0.5em;
        background-color: $background-blue;
        h3 {
          text-align: center;
          font-weight: 550;
          // color: white;
          // text-shadow: 1px 1px black;
        }
        p {
          text-align: left;
          margin: 5px;
          color: $greener-black;
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      flex-direction: row;
      flex-wrap: wrap;
      // align-items: flex-start;
      .card-container {
        flex-direction: column;
        align-self: flex-start;
        width: 45vw;
        .tour-detail-card{
          @include card($width: 100%, $height: 100%, $position: relative)
        }
        margin: .25em;
        .text {
          margin: 0;
        }
        @media only screen and (max-width: 700px) {
          width: 95vw;
        }
      }
    }
  }
  ul {
    position: relative;
    background-color: $background-blue;
    margin: auto;
    margin-top: 20px;
    padding: 1em 2em;
    // border: 1px solid $navbar-grey;
    width: 500px;
    li {
      margin: 1em 0.3em;
      text-align: left;
    }
  }
}


@mixin tour-mixin {
  .container {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    .inner-tour-card {
      @include card;
      background-color: $background-blue;
      margin: 10px;
      h3 {
        position: absolute;
        width: 100%;
        margin: auto;
        left: 0;
        bottom: 10px;
        text-align: center;
        background: transparent;
        color: white;
        text-shadow: 1px 1px black;
      }
    }
    padding-bottom: 60px;
  }
}


.belfast-tours {
  @include tour-mixin()
}

.driver-tours {
  @include tour-mixin();
}

.faq {
  background-color: $background-lighter-blue;
  padding: 10px 0;
  .question {
    margin: auto;
    width: 600px;
    // border: 1px solid $navbar-grey;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $background-blue;
    h3, p {
      text-align: left;
      background: transparent;
    }
  }
}

.booking-form {
  width: 500px;
  padding: 10px;
  background-color: $background-blue;
  margin: auto;

  .form-error {
    border: 1px solid red;
  }


  margin-top: 20px;
  margin-bottom: 20px;
  h2 { background: transparent }
  input, textarea {
    margin: 5px 0;
    text-align: left;
    background: white;
    border: none;
    padding: .5em;
    border-radius: 2px;
  }
  label {
    background: transparent;
  }
  textarea {
    height: 150px;
  }
  
  form {
    @include flex($direction: column);
    background: transparent;
    
  }
}

.flash-green {
  border: 1px solid green;
  background-color: greenyellow;
}

button {
  width: 200px;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px #005500;
  background-color: $background-green;
  font-size: 1.1em;
  border: none;
  padding: 10px;
  margin: auto;
  &:hover {
    cursor: pointer;
    background-color: #77b75c;
  }
}

.footer {
  background-image: linear-gradient(to bottom, $off-white, $background-green);
  padding: 2.5em 1em 1em 1em;
  .container {
    @include flex;
    flex-wrap: wrap;
    h3 {
      font-weight: 400;
    }
    &:first-of-type {
      justify-content: space-around;
      img {
        margin: 20px;
      }
    }
    &:last-of-type {
      justify-content: space-between;
    }
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      font-size: .7em;
    }
  }
}

